[submodule "examples/bloodflow"]
	path = examples/bloodflow
	url = https://github.com/mvictoras/bloodflow.git
[submodule "examples/ippl"]
	path = examples/ippl
	url = https://github.com/mvictoras/ippl.git
	branch = insitu-ascent
[submodule "examples/in-situ-particle-demo"]
	path = examples/in-situ-particle-demo
	url = https://github.com/mvictoras/in-situ-particle-demo.git
