scripts/build-crux/

examples/lbm-cfd/bin/
examples/lbm-cfd/obj/

examples/nekIBM-ascent/3rd_party/gslib/v1.0.1.tar.gz
examples/nekIBM-ascent/3rd_party/gslib/gslib-1.0.1/
examples/nekIBM-ascent/3rd_party/gslib/lib/
examples/nekIBM-ascent/3rd_party/nek_ascent/build/
examples/nekIBM-ascent/3rd_party/nek_ascent/include/
examples/nekIBM-ascent/3rd_party/nek_ascent/lib/
examples/nekIBM-ascent/bin/amg_hypre
examples/nekIBM-ascent/bin/genmap_bin
examples/nekIBM-ascent/bin/n2to3
examples/nekIBM-ascent/bin/nekmerge
examples/nekIBM-ascent/bin/pretex
examples/nekIBM-ascent/bin/prex
examples/nekIBM-ascent/bin/re2torea
examples/nekIBM-ascent/bin/reatore2